<div class="text-right">	
	<%%= link_to 'New <%= plural_name.singularize.capitalize %>', new_admin_<%= plural_name.singularize %>_path, :class => 'btn btn-primary' %>
</div>

<br />

<div class="row">
	<div class="col-sm-12">
		<ul class="list-group">
			<%% for <%= plural_name.singularize%> in @<%= plural_name %> %>
				<li class="list-group-item">
					<div class="row">
						<div class="col-sm-6">
							<%%= link_to <%= plural_name.singularize %>.name, edit_admin_<%= plural_name.singularize %>_path(<%= plural_name.singularize %>) %>
						</div>
						<div class="col-sm-6 text-right">
							<%%= link_to(url_for(:controller => 'admin/<%= plural_name %>', :action => 'destroy', :<%= plural_name.singularize %>_id => <%= plural_name.singularize %>.id), data: { confirm: 'Are you sure?' }) do %>
								<span class="glyphicon glyphicon-trash"></span>
							<%% end %>
						</div>
					</div>
				</li>
			<%% end %>
		</ul>
	</div>
</div>