<%= @page.body.html_safe %>


<% if @posts %>
	<% for post in @posts %>
		<h2><%= post.name %> <small><%= display_date post.date %></small></h2>
		<%= post.body.html_safe %>
	<% end %>
<% end %>


<% if @page.id == 3 %>
	<%= simple_form_for @contact_form, :url => { :controller => 'pages', :action => 'create_contact_form' } do |f| %>
		<%= f.input :name %>
		<div class="row">
			<div class="col-sm-6">
				<%= f.input :phone_number %>
			</div>
			<div class="col-sm-6">
				<%= f.input :email_address %>
			</div>
		</div>
		<%= f.input :comments %>
		<%= f.submit 'Submit', :class => 'btn btn-primary' %>
	<% end %>
<% end %>