<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin">Simple CMS</a>
    </div>

    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.email %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to(edit_admin_user_path(current_user)) do %>
                        <i class="fa fa-fw fa-power-off"></i> Edit Password
                    <% end %>
                </li>
                <li>
                    <%= link_to(destroy_user_session_path, :method => :delete) do %>
                        <i class="fa fa-fw fa-power-off"></i> Log Out
                    <% end %>
                </li>
            </ul>
        </li>
    </ul>
   
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="<%= params[:controller] == 'admin/admin' ? 'active' : '' %>">
                <a href="/admin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <% if User::CAN_ACCESS_USERS == 'true' || current_user.id == 1 %>
              <li class="<%= params[:controller] == 'admin/users' ? 'active' : '' %>">
                  <a href="/admin/users"><i class="fa fa-users"></i> Users</a>
              </li>
            <% end %>
            <% if User::CAN_ACCESS_MENUS == 'true' || current_user.id == 1 %>
              <li class="<%= params[:controller] == 'admin/menu_items' ? 'active' : '' %>">
                  <a href="/admin/menu_items"><i class="fa fa-bars"></i> Menu</a>
              </li>
            <% end %>
            <% if User::CAN_ACCESS_PAGES == 'true' || current_user.id == 1 %>
              <li class="<%= params[:controller] == 'admin/pages' ? 'active' : '' %>">
                  <a href="/admin/pages"><i class="fa fa-fw fa-file"></i> Pages</a>
              </li>
            <% end %>
            <% if User::CAN_ACCESS_BLOG_POSTS == 'true' || current_user.id == 1 %>
              <li class="<%= params[:controller] == 'admin/blog_posts' ? 'active' : '' %>">
                  <a href="/admin/blog_posts"><i class="fa fa-book"></i> Blog Posts</a>
              </li>
            <% end %>
            <% if User::CAN_ACCESS_CONTACT_FORMS == 'true' || current_user.id == 1 %>
              <li class="<%= params[:controller] == 'admin/contact_forms' ? 'active' : '' %>">
                  <a href="/admin/contact_forms"><i class="fa fa-envelope"></i> Contact Forms</a>
              </li>
            <% end %>
        </ul>
    </div>
</nav>